name: android-release-apk

on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'

jobs:
  build-mac-ios-android:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 设置Java
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      # 设置Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.x'
          cache: true

      - name: Restore packages
        run: |
          cd simple_live_app
          flutter pub get

      # Build Android APK
      - name: Build APK
        run: |
          cd simple_live_app
          flutter build apk --release --split-per-abi

      - name: Upload Android APK
        uses: actions/upload-artifact@v4
        with:
          name: android
          path: simple_live_app/build/app/outputs/flutter-apk/*.apk
